<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="footer-item">
      <img src="/assets/images/deliverytruck.png" alt="" id="delivery-truck" />
      <h4>Deliver</h4>
    </div>

    <div class="footer-item">
      <p>About Box-it</p>
      <p>How Box-it Works</p>
      <p>Safety</p>
      <p>Careers</p>
      <p>Countries</p>
      <p>FAQs</p>
    </div>

    <div class="footer-item">
      <p>Be a Dispatcher</p>
      <p>Sign up to be a Dispatcher</p>
      <p>Requirements</p>
      <p>Driver App</p>
    </div>

    <div class="footer-item">
      <img
        src="/assets/images/google-play-badge-en.png"
        alt="playstore logo"
        id="playstore-logo"
      />
    </div>
  </div>
  <div class="sub-footer">
    <ul>
      <li>Accessibility</li>
      <li>Terms</li>
      <li>&copy;2018 Boxit</li>
    </ul>
  </div>
</div>
