<div class="jumbotron jumbotron-fluid">
  <p class="display-4" id="testimony-title">
    What Users Are Saying About BoxIt
  </p>
  <div class="container">
    <div class="testimony-section">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget
        justo justo. Ut vehicula nisl at nisl finibus, in fermentum dui
        ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra
        nunc. Nunc efficitur arcu eget nulla hendrerit, sed ultricies risus
      </p>
      <div class="circle"></div>
      <p id="customer">Customer Name</p>
    </div>

    <div class="testimony-section">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget
        justo justo. Ut vehicula nisl at nisl finibus, in fermentum dui
        ultricies. Aenean magna lectus, tempus nec augue at, laoreet viverra
        nunc. Nunc efficitur arcu eget nulla hendrerit, sed ultricies risus
      </p>
      <div class="circle"></div>
      <p id="customer">Customer Name</p>
    </div>
  </div>
</div>
