<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="display-2 banner-title">
      Food Delivery Directly<br />
      To Your Doorstep
    </p>

    <div class="find-restaurants">
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Select City</option>
          <option value="1">Lagos</option>
          <option value="2">Abuja</option>
          <option value="3">Portharcourt</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Select Area</option>
          <option value="1">Ikeja</option>
          <option value="2">Lekki</option>
          <option value="3">Wuse</option>
        </select>
      </div>

      <button type="button" class="btn btn-secondary">Find Restuarants</button>
    </div>
  </div>
</div>
