<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="photo-container">
      <img src="/assets/images/01.png" alt="phone" id="phone" />
    </div>
    <div class="text-container">
      <h3>Download Our App</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem
        ad quo eveniet odit! Animi soluta, excepturi explicabo aperiam quibusdam
        ipsa ducimus maxime exercitationem facilis ex magni, repellat ullam
        harum?
      </p>
      <img src="/assets/images/google-play-badge-en.png" alt="playstore logo" id="playstore"/>
    </div>
  </div>
</div>
