<div class="jumbotron jumbotron-fluid">
  <p>{{ data.mainTitle }}</p>
  <div class="container">
    <div class="section" *ngFor="let info of data.sectionData">
      <div class="circle"></div>
      <h5 class="title">{{ info.title }}</h5>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore
        saepe, iusto illo natus aliquid dignissimos reprehenderit sunt facilis
        numquam a nesciunt, nam quam ullam hic corrupti accusamus illum?
        Corrupti.
      </p>
    </div>
  </div>
</div>
